{% load static %}

{% include 'header.html' %} 

{% include 'nav.html' %}
 
{% include 'slider.html' %}
	<div id="page">
		<div id="content">
			<div class="box">
				<h2>Welcome to ShareIt, Service page</h2>
				<p>
				 Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima sunt, illo at eligendi nemo repellendus tenetur commodi 
				 doloribus tempora vitae! Minus magni adipisci fugiat mollitia maxime reprehenderit ipsum impedit nesciunt ratione dicta 
				 voluptatem corporis reiciendis voluptates assumenda id ea delectus, accusantium atque nam officiis? Culpa mollitia eveniet 
				 facere at iusto obcaecati ipsum vero? Aliquam sequi minus laudantium molestias eligendi? Vero assumenda earum debitis odio 
				 quasi corrupti vitae deserunt, expedita, ex blanditiis consectetur voluptatem ad fugiat amet mollitia nostrum aperiam. Iure
				 perferendis odit, minima voluptatum veritatis quas aperiam voluptatem corrupti omnis facere qui, dolor fugit architecto!
				 Tempora corporis quam inventore.	
				</p>
			</div>
		  <br class="clearfix" />
	    </div>	

		<!--sidebar start-->
		<div id="sidebar">
			<div class="box">
				<h3>Social Links</h3>
				<ul class="list">
					<li class="first"><a href="#">@Gmail</a></li>
					<li><a href="#">@Linkedln</a></li>
					<li><a href="#">@Instagram</a></li>
					<li><a href="#">@Facebook</a></li>
					<li class="last"><a href="#">@Twitter</a></li>
				</ul>
			</div>
		</div>
		<br class="clearfix" />
	</div>	
		<!--sidebar end-->
{% include 'footer.html' %}