{% load static %}
    <div id="slider">
		<div class="viewer">
			<div class="reel">
				<div class="slide">
					<img src="{% static 'images/banner1.jpg' %}" width="830px" height="230px"/>
				</div>
				<div class="slide">
					<img src="{% static 'images/banner2.jpg' %}" width="830px" height="230px"/>
				</div>
				<div class="slide">
					<img src="{% static 'images/banner3.jpeg' %}" width="830px" height="230px"/>
				</div>
				<div class="slide">
					<img src="{% static 'images/banner1.jpg' %}" width="830px" height="230px"/>
				</div>
				<div class="slide">
					<img src="{% static 'images/banner2.jpg' %}" width="830px" height="230px"/>
				</div>
			</div>
		</div>
		<div class="indicator">
			<span>1</span>
			<span>2</span>
			<span>3</span>
			<span>4</span>
			<span>5</span>
		</div>
	</div>
